*{
    text-decoration:none;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}

header h1{
    color: red;
    font-size: 24px;
    padding: 10px 10px;
}
.menu-horizontal li{
    position: sticky;
}
.submenu1 li{
    float: none;
}
.submenu2 li{
    float: none;
}
.submenu7 li{
    float: none;
}
.submenu13 li{
    float: none;
}
.menu-horizontal li a{
    display: inline-block;
    width: 75px;
    color: black;
    padding: 10px 10px;
}
.menu-horizontal li:hover>ul{
    display: inline-block;

}
.menu-horizontal li ul{
    display: none;
    position: absolute;
    min-width: 100px;

}
.submenu2{
    position: relative;
    right: -140px;
    top: 35px;
}
.submenu3{
    position: relative;
    right: -140px;
    top: 75px;
}
.submenu4{
    position: relative;
    right: -140px;
    top: 75px;
}
.submenu5{
    position: relative;
    right: -140px;
    top: 75px;
}
.submenu6{
    position: relative;
    right: -140px;
    top: 75px;
}

.submenu8{
    position: relative;
    right: -140px;
    top: 75px;
}
.submenu9{
    position: relative;
    right: -140px;
    top: 75px;
}
.submenu10{
    position: relative;
    right: -140px;
    top: 75px;
}
.submenu11{
    position: relative;
    right: -140px;
    top: 75px;
}
.submenu12{
    position: relative;
    right: -140px;
    top: 75px;
}

.submenu14{
    position: relative;
    right: -140px;
    top: 75px;
}
.submenu15{
    position: relative;
    right: -140px;
    top: 75px;
}
.submenu16{
    position: relative;
    right: -140px;
    top: 75px;
}
.submenu17{
    position: relative;
    right: -140px;
    top: 75px;
}
.submenu18{
    position: relative;
    right: -140px;
    top: 75px;
}